[flake8]
max_line_length = 120
statistics = True
exclude = .flake8, *.yaml
count = True
show_source = False
spellcheck-targets = comments

multiline-quotes = """
docstring-quotes = """

ignore = Q000

[pep8]
max_line_length = 120
in-place = True
list-fixes = True
# TODO: check why 'aggressive' argument throws errors - without this the level of forced changes can't be set
# aggressive = True
